@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,400&family=Russo+One&display=swap");

// :::: base styling
$color-primary: #5ae4b3;
$color-dark: #242424;
$color-text-dark: #bfbfbf;
$color-text-faded: #a3a3a3;
$base-font: "Poppins", sans-serif;

* {
  font-family: $base-font;
}

h1 {
  font-family: "Russo One", sans-serif;
}

.fadedText {
  color: $color-text-faded;
}

.primaryText {
  color: $color-primary;
}
